.Nav-dt{
    color: white;
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    background-color:rgb(33,37,41);
    margin-bottom: 50px;
    position: sticky;
    top: 0;
    z-index: 3;
}
.Nav2 h5:hover{
    color: grey;
}
.Nav1 img{
    /* background-color: rgb(33,37,41); */
    width: 35%;
    height: 35px;
}
.Nav1{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  width: 30%;
  height: 100%;
  /* background-color: rgb(216, 46, 46); */
}
.Nav1 Span{
  font-size: 30px;
}
.Nav2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  width: 80%;
  height: 100%;
  /* background-color: rgb(128, 72, 72); */
}
.btn button{
    background-color: rgb(66,70,73);
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border: none;
}
.btn button span{
    padding: 10px;
    border-radius: 100px;
    background-color: rgb(253,96,53);
    color: black;
    margin-left: 10px;
    transform: rotate(-45deg);
}
.btn button:hover span{
    transform: rotate(0deg);
}

.menu span{
  font-size: 35px ;  
}

@media (max-width: 768px) {  
  .Nav-dt {  
    width: 100%;
    justify-content:space-between;
    height: 70px;  
    align-items: center;
    /* background-color: rebeccapurple; */
    position: fixed;
    padding: 20px;
  }  
  .Nav-dt h5 {  
    margin-bottom: 10px;  
  } 
  .ch{
    font-size: 25px;
  } 
  .Nav1 img { 
    margin-top: 10px; 
    width: 40%;  
    /* margin: 10px auto; */
  }  
  .btn {  
    margin-top: 10px; 
  }  
  .nav12{
    position: absolute;
    width: 100%; 
    height: auto;
    top: 70px;
    left: 0%;
    gap: 5px;
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
    align-items: center; 
    transition: 1s;
    background-color:rgb(33,37,41);
    color: white;
  }
  .btn button {  
    width: 100%; 
    justify-content: center;  
  }  
  .Nav1 { 
    width: 100%; 
    height: 70px;
    display: flex; 
    justify-content: space-between;  
    gap: 20px;
    align-items: center; 
    margin-bottom: 10px; 
  } 
  .Nav2 { 
    position: absolute;
    width: 100%; 
    height: auto;
    top: 70px;
    left: -100%;
    gap: 5px;
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    transition: 1s; 
    background-color:rgb(33,37,41);
    color: white;
    /* margin-bottom: 10px;  */
  } 
  .Nav1 Span { 
    display: inline-block;
    font-size: 30px;
  } 
  .menu span{ 
    display: none;
  } 
}